<div class="container">
    <h1> <u>Person Info</u></h1>
    <form [formGroup]="locatorModel" style="margin-left:15px;">
        <div class="row">
            <mat-form-field>
                <input matInput placeholder="Person Name" formControlName="ename">    
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <input matInput placeholder="Person Id" formControlName="eid">
            </mat-form-field>
        </div>

       <div class="row">
        <mat-form-field>
            <input matInput placeholder="Person Contact" formControlName="contact">
        </mat-form-field>
       </div>
       <div class="row">
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="mail">
            </mat-form-field>
       </div>
</form>
</div>
